  li {
    display: inline;
    float: left;
  }
  
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

#body{
  margin: 0%;
}
#navBar{
  display: flex;
  top: 0px;
  justify-content:space-between;
  height: 10%;
  position: sticky;
  background-color: black;

}

#logop{
  height: 50px;
  weight:50px ;
}
#home{
  color: #33ee46;
}
#carrello{
  color: #33ee46;
}
 ul{ list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
 }

 .navbar{
    position: relative;
    overflow: hidden;
    height: 50%;
    margin-top: 1%;
    padding-top: 0%;}

    li a:hover {
        background-color: rgb(188, 186, 186);
      }
